*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #D3D3D3;
}

.ap1{
	width: 20%;
	height: 400px;
	box-sizing: border-box;
	margin: auto;
}

.ap1 img{
	height: 90%;
	margin-top: 25px;
}

.desc1{
	width: 80%;
	height: 400px;
	background-color: #D3D3D3;
	box-sizing: border-box;
	margin: auto;
	margin-top: 50px;
}

.desc1 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center;
}

.desc1 h2:hover{
	color: #BA0000;
}


.desc1 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom:20px;
	font-size: 20px;
}

.desc2{
	width: 80%;
	height: 400px;
	background-color: #D3D3D3;
	box-sizing: border-box;
	margin: auto;
}

.desc2 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
	font-size: 30px;
	text-align: center;
}

.desc2 h2:hover{
	color: #BA0000;
}

.desc2 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom: 20px;
	font-size: 20px;
}

.ap2{
	width: 20%;
	height: 400px;
	background-color: #D3D3D3;
	box-sizing: border-box;
	margin: auto;
}

.ap2 img{
	height: 90%;
	margin-top: 25px;
}

.botoes{
	width: 80%;
	height: 50px;
	margin: auto;
}

.botoes input{
	width: 150px;
	height: 50px;
}
