*{
	margin: 0;
	padding: 0;
}

section{
	width: 100%;
	height: 550px;
}

.esquerda{
	width: 20%;
	height: 550px;
	float: left;
	box-sizing: border-box;
	background-image: url("../../imagens/fundocadastro.jpg");
	background-repeat: no-repeat;
}

.caixa{
	width: 60%;
	height: 550px;
	float: left;
	box-sizing: border-box;
	background-color: #D3D3D3;
}

.direita{
	width: 20%;
	height: 550px;
	float: left;
	box-sizing: border-box;
	background-image: url("../../imagens/fundocadastro.jpg");
	background-repeat: no-repeat;
}

.titulo{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
}

.titulo:hover{
	color: #BA0000;
}

form{
	width: 60%;
	height: 250px;
	margin: auto;
}

table{
	width: 100%;
	height: 100px;
}

.txt{
	width: 40%;
	height: 50px;
	text-align: right;
	box-sizing: border-box;
	font-size: 20px;
}

.txt label{
	margin-right: 30px;
}

.box{
	width: 60%;
	height: 50px;
}

.box input{
	width: 80%;
	height: 35px;
	border: 1px solid #BA0000;
}

.btn{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn input{
	width: 40%;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
}

.btn input:hover{
	border: 1px solid #BA0000;
}


.btn-g{
	background-color: #42E23C;
	color: #000;
	border: none;
}

.btn-r{
	background-color: #F5E913;
	color: #000;
	border: none;
}

.lgn{
	width: 40%;
	height: 60px;
	margin: auto;
	box-sizing: border-box;
}

.lgn img{
	width: 60px;
	height: 60px;
	float: left;
}

.lgn p{
	float: left;
	font-size: 20px;
	padding: 15px;
	color: #BA0000;
}

.lgn p:hover{
	color: #3323E6;
}