*{
	margin: 0;
	padding: 0;
}

section{
	width: 100%;
	height: 700px;
}

.esquerda{
	width: 15%;
	height: 700px;
	float: left;
	box-sizing: border-box;
	background-image: url("../../imagens/fundocadastro.jpg");
	background-repeat: no-repeat;
}

.caixa{
	width: 70%;
	height: 700px;
	float: left;
	box-sizing: border-box;
	background-color: #D3D3D3;
}

.titulo{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 40px;
}

.titulo h2:hover{
	color: #BA0000;
}

.direita{
	width: 15%;
	height: 700px;
	float: left;
	box-sizing: border-box;
	background-image: url("../../imagens/fundocadastro.jpg");
	background-repeat: no-repeat;
}

form{
	width: 100%;
	height: auto;
}

table{
	width: 80%;
	height: 450px;
	margin: auto;
}

.txt{
	width: 35%;
	height: 30px;
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
}

.txt label{
	font-size: 18px;
}

.box{
	width: 65%;
	height: 30px;
}

.box1{
	width: 65%;
	height: 30px;
}

.box input{
	width: 80%;
	height: 30px;
	border: 2px solid #000;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 10px;

}

.btn{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn input{
	width: 20%;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
}

.btn input:hover{
	border: 1px solid #000;
	border-radius: 10px;
}

.btn-g{
	background-color: #42E23C;
	color: #000;
	border: none;
}

.btn-r{
	background-color: #F5E913;
	color: #000;
	border: none;
}







