.desc{
	width: 70%;
	height: 400px;
	margin: auto;
	margin-top: 50px;
	text-align: justify;
	font-size: 20px;
}

.titulo{
	width: 70%;
	height: 50px;
	text-align: center;
	margin: auto;
	font-size: 30px;
}

.titulo:hover{
	color: #BA0000;
}

.imagem{
	width: 70%;
	height: 500px;
	margin: auto;
}

.imagem img{
	width: 100%;
	height: 400px;
}