.ap1{
	width: 100%;
	height: 400px;
	margin: auto;

}
.ap1 img{
	margin-top:25px;
	width: 700px;
	height: 400px;
}
.desc1{
	margin: auto;
	width: 47%;
	height: 400px;
	text-align: justify;
}
.titulo{
	text-align: center;
}