*{
	padding: 0px;
	margin: 0px;
}

.ap1{
	width: 40%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.ap1 img{
	height: 80%;
	margin-left: 250px;
	margin-top: 25px;
}

.desc1{
	width: 60%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.desc1 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
	font-size: 30px;
}

.desc1 h2:hover{
	color: #BA0000;
	border-right: 1px solid #BA0000;
}


.desc1 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom:20px;
}

.ap2{
	width: 40%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.ap2 img{
	height: 80%;
	margin-left: 250px;
	margin-top: 25px;
}

.desc2{
	width: 60%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.desc2 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
	font-size: 30px;
}

.desc2 h2:hover{
	color: #BA0000;
	border-right: 1px solid #BA0000;
}


.desc2 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom:20px;
}

.ap3{
	width: 40%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.ap3 img{
	height: 80%;
	margin-left: 250px;
	margin-top: 25px;
}

.desc3{
	width: 60%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.desc3 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
	font-size: 30px;
}

.desc3 h2:hover{
	color: #BA0000;
	border-right: 1px solid #BA0000;
}


.desc3 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom:20px;
}

.ap4{
	width: 40%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.ap4 img{
	height: 80%;
	margin-left: 250px;
	margin-top: 25px;
}

.desc4{
	width: 60%;
	height: 400px;
	background-color: #D3D3D3;
	float: left;
	box-sizing: border-box;
}

.desc4 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
	font-size: 30px;
}

.desc4 h2:hover{
	color: #BA0000;
	border-right: 1px solid #BA0000;
}


.desc4 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom:20px;
}