*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #D3D3D3;
}

.ap1{
	width: 40%;
	height: 400px;
	box-sizing: border-box;
	margin: auto;
	float: left;
}

.ap1-img{
	width: 200px;
	height: 350px;
	margin: auto;
	clear: both;
	margin-top: 30px;
}

.ap1 img{
	width: 200px;
	height: 350px;
}

.desc1{
	width: 60%;
	height: 400px;
	background-color: #D3D3D3;
	box-sizing: border-box;
	margin: auto;
	float: left;
}

.desc1 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center;
}

.desc1 h2:hover{
	color: #BA0000;
}


.desc1 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom:20px;
	font-size: 20px;
}

.espaco{
	width: 100%;
	height: 100px;
	clear: both;
}

.ap2{
	width: 40%;
	height: 400px;
	box-sizing: border-box;
	margin: auto;
	float: left;
}

.ap2-img{
	width: 200px;
	height: 350px;
	margin: auto;
	margin-top: 30px;
}

.ap2 img{
	width: 200px;
	height: 350px;
}

.desc2{
	width: 60%;
	height: 400px;
	background-color: #D3D3D3;
	box-sizing: border-box;
	margin: auto;
	float: left;
}

.desc2 h2{
	width: 80%;
	box-sizing: border-box;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center;
}

.desc2 h2:hover{
	color: #BA0000;
}


.desc2 p{
	width: 80%;
	box-sizing: border-box;
	text-align: justify;
	margin: auto;
	margin-bottom:20px;
	font-size: 20px;
}

.botoes{
	width: 80%;
	height: 50px;
	margin: auto;
}

.botoes input{
	width: 150px;
	height: 50px;
}

.txt-mapa{
	width: 100%;
	height: 50px;
	font-size: 20px;
	text-align: center;
	clear: both;
	box-sizing: border-box;
}

.txt-mapa:hover{
	color: #BA0000;
}

.mapa{
	width: 80%; 
	height: 500px;
	margin: auto;
	margin-bottom: 50px;
}

.mapa iframe{
	width: 100%;
	height: 500px;
	border: 3px solid #BA0000;
}

.boxPesq{
	width: 100%;
	height: 50px;
	margin: auto;
}

.boxPesq form{
	width: 100%;
	height: 50px;
}

.box{
	width: 200px;
	height: 30px;
	margin-right: 10px;
}

.btn{
	width: 100px;
	height: 40px;
}

.formulario{
	width: 30%;
	height: 50px;
	margin: auto;
}
